/* Coolors Exported Palette - https://coolors.co/702632-ffe1a8-404e4d-a2aebb-dfe0e2 */

/* CSS HEX */
--brown: #a44200ff;
--sunset: #ffd29dff;
--jet: #333333ff;
--cadet-gray: #8baaadff;
--platinum: #dfe0e2ff;

/* CSS HSL */
--brown: hsla(24, 100%, 32%, 1);
--sunset: hsla(32, 100%, 81%, 1);
--jet: hsla(0, 0%, 20%, 1);
--cadet-gray: hsla(185, 17%, 61%, 1);
--platinum: hsla(220, 5%, 88%, 1);

/* SCSS HEX */
$brown: #a44200ff;
$sunset: #ffd29dff;
$jet: #333333ff;
$cadet-gray: #8baaadff;
$platinum: #dfe0e2ff;

/* SCSS HSL */
$brown: hsla(24, 100%, 32%, 1);
$sunset: hsla(32, 100%, 81%, 1);
$jet: hsla(0, 0%, 20%, 1);
$cadet-gray: hsla(185, 17%, 61%, 1);
$platinum: hsla(220, 5%, 88%, 1);

/* SCSS RGB */
$brown: rgba(164, 66, 0, 1);
$sunset: rgba(255, 210, 157, 1);
$jet: rgba(51, 51, 51, 1);
$cadet-gray: rgba(139, 170, 173, 1);
$platinum: rgba(223, 224, 226, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-right: linear-gradient(90deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-bottom: linear-gradient(180deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-left: linear-gradient(270deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-top-right: linear-gradient(45deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-bottom-right: linear-gradient(135deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-top-left: linear-gradient(225deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-bottom-left: linear-gradient(315deg, #a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);
$gradient-radial: radial-gradient(#a44200ff, #ffd29dff, #333333ff, #8baaadff, #dfe0e2ff);