@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --brown: #a44200ff;
  --sunset: #ffd29dff;
  --jet: #333333ff;
  --cadet-gray: #8baaadff;
  --green: rgb(9, 67, 74);
  --platinum: #dfe0e2ff;


  /* font-sizes */
  --fs-title-xl: 3.5rem;
  --fs-title-l: 2.8rem;
  --fs-title-m: 1.9rem;
  --fs-title-s: 1.3rem;
  --fs-text-l: 1.562rem;
  --fs-text-default: 1.25rem;
  --fs-text-s: 1rem;
  --fs-text-xs: 0.875rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* body */

body {
  font-family: 'Work Sans', sans-serif;
  font-size: var(--fs-text-default);
  color: var(--clr-ivory);
  background-color: var(--platinum); 
  line-height: 1.2;
  min-height: 100vh;
  /* display: grid;
  grid-template-rows: min-content 1fr; */
  overflow-x: hidden;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 30px;
  max-width: 1360px;
  margin-inline: auto;
}

.fst-italic {
  font-style: italic;
}


/* .sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */

/* colors */

/* typography */

.fs-title-xl { font-size: var(--fs-title-xl); }
.fs-title-l { font-size: var(--fs-title-l); }
.fs-title-m { font-size: var(--fs-title-m); }
.fs-title-s { font-size: var(--fs-title-s); }
.fs-text-l { font-size: var(--fs-text-l); }
.fs-text-s { font-size: var(--fs-text-s); }
.fs-text-default { font-size: var(--fs-text-default); }
.fs-text-xs { font-size: var(--fs-text-xs); }

.fw-700 { font-weight: 700;}
.fw-500 { font-weight: 500;}
.fw-400 { font-weight: 400;}
.fw-300 { font-weight: 300;}


/* ------------------- */
/* Compontents         */
/* ------------------- */

.sidebar {
  height: 100%;
  width: 35rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--cadet-gray);
  overflow: hidden;
  padding: 3rem;
}

.sidebar__top {
  margin-bottom: 2rem;
}

.sidebar__text {
  margin-bottom: 1.5rem;
}

.sidebar__image {
  width: 100px;
  height: 100px;
  background-color: rgb(181, 170, 170);
}

.header {
  margin-bottom: 2rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2rem;
}

.nav__link {
  position: relative;
  padding-bottom: 0.5rem;
}

.nav__link::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--cadet-gray);
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main {
  margin-left: 35rem;
  padding: 3rem;
}

.section-title {
  margin-bottom: 1.5rem;
}

.section-title span {
  padding-bottom: 0.3rem;
  position: relative;
}

.section-title span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--green);
}

section {
  margin-bottom: 3rem;
}

.skills__subtitle {
  margin-bottom: 1.2rem;
  font-weight: 500;
  /* background-image: radial-gradient(rgb(0, 0, 0), var(--cadet-gray));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  background-repeat: repeat; */
  color: var(--green);
}

.skills__list {
  margin-bottom: 1.5rem;
}

.skills-item {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--green);
}

.skills-item:not(:last-child) {
  margin-right: 0.5rem;
}

.skills-item__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  --gap: 0.5rem;
  
}

.skills-item__img {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.skills-item__text {
  font-weight: 500;
  font-size: 1.1rem;
}

.languages-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.languages__title {
  font-weight: 600;
}

.languages__item {
  position: relative;
  padding-top: 0.8rem;
}

.languages__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 2.5rem;
  height: 0.4rem;
  background-color: var(--cadet-gray);
}

.projects__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.projects-item {
  min-height: 23rem;
  max-height: 23rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
}

.projects-item__img {
  width: 100%;
  height: 100px;
  background-color: rgb(174, 192, 186);
  margin-bottom: 1rem;
}

.projects-item__title {
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.projects-item__text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.stack {
  margin-bottom: 1.5rem;

}

.stack__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.stack__item {
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--green);
}

.projects-item__preview {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
  font-size: 1rem;
  font-weight: 500;
}

.demo-icon,
.repository-icon {
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
}

.projects-item__link {
  display: flex;
  align-items: center;
}

.experience-item:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--cadet-gray);
}

.experience-item {
  display: flex;
  column-gap: 5rem;
}

.experience-item__time,
.experience-item__title {
  margin-bottom: 1rem;
  font-weight: 500;
}

.experience-item__company {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.experience-item__location {
  font-style: italic;
  font-size: 1rem;
}


.education-item {
  display: flex;
  column-gap: 5rem;
  align-items: center;
}

.education-item:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--cadet-gray);
}

.education-info__title {
  min-width: 23rem;
  max-width: 23rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.education-info__time {
  font-size: 1rem;
}

.place-link {
  position: relative;
  transition: all 0.3s ease;
}

.place-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--green);
  transition: all 0.3s ease;
  
}

.place-link:hover {
  color: var(--cadet-gray);
}

.place-link:hover:after {
  background-color: var(--cadet-gray);
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text,
.footer__copy {
  color: var(--green);
  font-size: 0.9rem;
  text-align: right;
}
